:root {
  --bg-color: #ffffff;
  --card-bg-color: #f7f7f7;

  --text-color: #333333;
  --heading-color: #111111;

  --primary-color: #3498db;
  --secondary-color: #2ecc71;

  --border-color: #dddddd;

  --button-bg-color: var(--primary-color);
  --button-text-color: #ffffff;

  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.1) 0px 1px 3px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
